.example-spacer {
    flex: 1 1 auto;
  }
table {
  width: 100%;
  font-size: 12px;
  font-weight: 500;
  font-family: 'Tahoma';
}

.mat-form-field {
  font-size: 12px;
  width: 100%;
  font-weight: bold;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
